@import '../../../stylesheets/colors.scss';

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 9vw;
  padding-bottom: 5vw;
  background-color: $secondary-color;
}
