@import '../../../stylesheets/colors.scss';
@import '../../../stylesheets/fonts.scss';

.routes-cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  width: auto;
  font-size: 1.3vw;

  &__route {
    word-break: keep-all;
  }

  &__weekDays {
    justify-content: left;
    width: 10vw;
  }
}
