@import '../../../../stylesheets/colors.scss';
@import '../../../../stylesheets/fonts.scss';

.bus-schedule-view {
  background-color: $secondary-color;
  min-height: 65vh;

  &__modal {
    border-radius: 4px;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);

    &__close-icon {
      &:hover {
        fill: $light-grey;
      }
    }
  }
}

.routes {
  width: 100%;
}

.options-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}


div.city-selector {
  margin-top: 3px;
  width: 300px;

  &__control {
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
  }
}

div.week-day-selector{
  margin-top: 3px;
  width: 180px;
  margin-left: 1vw;

  &__control {
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
  }
}
