@import '../../../../stylesheets/colors.scss';
@import '../../../../stylesheets/fonts.scss';

.bus-schedule-view {
  background-color: $secondary-color;
  min-height: 65vh;
}

.options-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 1%;
  width: 100%;
}

.city-selector {
  width: 300px;
}

.week-day-selector{
  width: 160px;
  margin-left: 1vw;
}
