$black: #000;
$white: #fff;
$light-yellow: #f7efc1;
$very-light-grey: #eee;
$light-grey: #888;
$silver-grey: #CCC;
$dark-grey: #101010;
$dark-red: #4C0002;
$fb-blue: #3b5998;
$main-color: #4C0002;
$secondary-color: rgb(252, 252, 252);
$light-blue: #2286F6;
$ice-blue: #DEEBFF;
$field-selector: #EDF4FF;
$selector-color: #2286F6;
