@import './colors.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $main-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

tr:focus, div:focus ,a:focus {
  outline-width: 2px;
  outline-color: $selector-color;
  outline-style: solid;
  outline-offset: -1px;
}
