@import '../../../stylesheets/colors.scss';
@import '../../../stylesheets/fonts.scss';

.social-media-bar{
  display: flex;
  height: 100%;

  &__icon {
    height: 60%;
    margin-right: 10px;
    margin-top: 20%;
    transition: transform .2s;
  }

  &__icon:focus {
    transform: scale(1.5);
  }

  &__icon:hover {
    transform: scale(1.5);
  }
}
