@import '../../../../stylesheets/colors.scss';
@import '../../../../stylesheets/fonts.scss';

.home-content {
  display: flex;
  align-content: space-between;
  width: 100%;
}

.banner-content {
  font-size: 5vw;
  font-weight: bold;
  font-family: $opensans;
  color: $white;
  fill: $white;
}
