@import '../../../../stylesheets/colors.scss';
@import '../../../../stylesheets/fonts.scss';

.home-content {
  position: relative;
  width: 100%;
}

.banner-text {
  margin: 2% 0;
  white-space: nowrap;
  font-size: 5vw;
  font-weight: bold;
  font-family: $opensans;
  color: $secondary-color;
  fill: $secondary-color;
  text-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}
