@import '../../../../stylesheets/colors.scss';
@import '../../../../stylesheets/fonts.scss';

.home-content {
  height: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-yellow;
}

.banner-content {
  font-size: 48px;
  font-weight: bold;
  font-family: $opensans;
  color: $white;
  fill: $white;
}
