@import '../../../stylesheets/colors.scss';

.table-paginator {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: left;

  &__current-page {
    width: 105px;
  }

  &__right-navigator {
    border: none;
    padding: 0px;
    margin: 0 0 0 10px;
    opacity: 1;

    &:hover {
      color: $light-grey;
    }

    &__off {
      opacity: 0;
    }
  }

  &__left-navigator {
    border: none;
    padding: 0px;
    margin: 0 10px 0 0;
    opacity: 1;
    transition: opacity 0.5s ease-out;

    &:hover {
      color: $light-grey;
    }

    &__off {
      opacity: 0;
    }
  }
}
