@import '../../../stylesheets/colors.scss';

.services-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: auto;
  width: 100%;
  padding-left: 5%;
  padding-bottom: 5vw;
  background-color: $white;
}

.service-section-header {
  width: 82vw;
  font-size: 10vh;
  font-weight: bold;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 1vh;
  margin-left: 6%;
  color: $main-color;
  border-bottom: 5px solid $main-color;
}

.service-row {
  display: flex;
  margin: 0 5%;
  justify-content: flex-start;
}
