@import '../../../stylesheets/colors.scss';

.service {
  margin: 1vw;
  text-decoration: none;
}

.service-image:hover {
  transform: scale(1.05);
}

.service-image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  height: 20vw;
  border-radius: 10px;
  font-size: 4vw;
  color: $white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  transition: transform .2s;

  @media only screen and (min-width: 768px) {
    width: 40vw;
    height: 20vw;
  }
}
