@import '../../../stylesheets/colors.scss';
@import '../../../stylesheets/fonts.scss';

.weekday-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 1px;
  flex-wrap: wrap;
  min-height: 100%;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 8px/4px;
  background-color: #2286F6;
  color: $white;
  font-family: $opensans;
  font-size: 1.1vw;
}
